@using Digiruokalista_Remastered.Data
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@inject IDbContextFactory<Data.ApplicationDbContext> context


@if(ShowTitle == true && ValittuRavintola == null)
{
    <h2>Ravintolat</h2>
}
@if (HttpContextAccessor?.HttpContext?.User?.Identity?.IsAuthenticated ?? false && UusiRavintola == null && ValittuRavintola == null)
{
    <button class="btn btn-dark mb-1" @onclick="() => UusiRavintola = new Ravintola()">Uusi ravintola</button>
}
@if(ValittuRavintola != null)
{
    <button class="btn btn-outline-danger" @onclick="() => ValittuRavintola = null">Sulje</button>
    <RavintolaKomp ravintola=ValittuRavintola></RavintolaKomp>
}
@if(ValittuRavintola == null && UusiRavintola == null)
{
    <table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Nimi</th>
            <th>Y-Tunnus</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Ravintola in Ravintolat)
        {
            <tr class="hover" @onclick="() => ValittuRavintola = Ravintola">
                <td>@Ravintola.Nimi</td>
                <td>@Ravintola.yTunnus</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
}

@if(UusiRavintola != null)
{
    <table>
        <tr>
            <th><label>Ravintolan nimi:</label></th>
            <td><input type="text" @bind=UusiRavintola.Nimi class="form-control-lg"/></td>
        </tr>
        <tr>
            <th><label>Y-Tunnus:</label></th>
            <td><input type="text" @bind=UusiRavintola.yTunnus class="form-control-lg"/></td>
        </tr>
         <tr>
            <th><label>Kaupunki:</label></th>
            <td><input type="text" @bind=UusiRavintola.Paikkakunta class="form-control-lg"/></td>
        </tr>
         <tr>
            <th><label>Puhelinnumero:</label></th>
            <td><input type="text" @bind=UusiRavintola.Puhelinnumero class="form-control-lg"/></td>
        </tr>
        <tr>
            <th></th>
            <td><button @onclick="UusiRavintolaAction" class="btn btn-dark form-control-lg">Luo</button></td>
        </tr>
    </table>
}

@code
{
    [Parameter]
    public bool ShowTitle { get; set; }

    private List<Ravintola> Ravintolat = null!;
    private Ravintola? ValittuRavintola = null!;
    private Ravintola? UusiRavintola = null!;


    protected override void OnInitialized()
    {
        var db = context.CreateDbContext();
        Ravintolat = db.Ravintola.Include(o => o.Kategoriat).ThenInclude(o => o.Ruuat).ThenInclude(o => o.Hinnat).ToList();
        base.OnInitialized();
    }
    void UusiRavintolaAction()
    {
        var principal = HttpContextAccessor.HttpContext.User;
        var loggedInUserId = principal.FindFirstValue(ClaimTypes.NameIdentifier);
        var db = context.CreateDbContext();
        UusiRavintola.KayttajaID = loggedInUserId;
        db.Ravintola.Add(UusiRavintola);
        db.SaveChanges();
        UusiRavintola = null;
        Ravintolat = db.Ravintola.Include(o => o.Kategoriat).ThenInclude(o => o.Ruuat).ThenInclude(o => o.Hinnat).ToList();
        StateHasChanged();
    }

}
